@font-face {
  font-family: 'LeagueGothicRegular';
  src: url("../fonts/League_Gothic-webfont.eot");
  src: url("../fonts/League_Gothic-webfont-.eot#iefix") format("embedded-opentype"), url("../fonts/League_Gothic-webfont.woff") format("woff"), url("../fonts/League_Gothic-webfont.ttf") format("truetype"), url("../fonts/League_Gothic-webfont.svg#LeagueGothicRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'CartonSlab';
  src: url("../fonts/carton-slab-webfont.eot");
  src: url("../fonts/carton-slab-webfont-.eot#iefix") format("embedded-opentype"), url("../fonts/carton-slab-webfont.woff") format("woff"), url("../fonts/carton-slab-webfont.ttf") format("truetype"), url("../fonts/carton-slab-webfont.svg#CartonSlab") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SueEllenFranciscoRegular';
  src: url("../fonts/sue_ellen_francisco-webfont.eot");
  src: url("../fonts/sue_ellen_francisco-webfont-.eot#iefix") format("embedded-opentype"), url("../fonts/sue_ellen_francisco-webfont.woff") format("woff"), url("../fonts/sue_ellen_francisco-webfont.ttf") format("truetype"), url("../fonts/sue_ellen_francisco-webfont.svg#SueEllenFranciscoRegular") format("svg");
  font-weight: 400;
  font-style: normal; }

/* line 17, /app/vendor/bundle/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, /app/vendor/bundle/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, /app/vendor/bundle/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, /app/vendor/bundle/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, /app/vendor/bundle/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, /app/vendor/bundle/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, /app/vendor/bundle/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, /app/vendor/bundle/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, /app/vendor/bundle/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 26, /app/source/stylesheets/site.css.scss */
body {
  background-color: #333;
  background: url("../img/wood.jpg") center top;
  font-family: sans-serif;
  color: black;
  margin: 0;
  padding: 0; }

/* line 35, /app/source/stylesheets/site.css.scss */
a {
  color: #1abfea;
  text-decoration: none;
  font-weight: bold; }
  /* line 24, /app/vendor/bundle/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
  a:hover {
    color: #1abfea; }

/* line 41, /app/source/stylesheets/site.css.scss */
#main {
  padding: 40px 0 0; }

/* line 56, /app/source/stylesheets/site.css.scss */
.pager {
  -webkit-box-shadow: RGBA(0, 0, 0, 0.3) 0 5px 5px;
  -moz-box-shadow: RGBA(0, 0, 0, 0.3) 0 5px 5px;
  box-shadow: RGBA(0, 0, 0, 0.3) 0 5px 5px;
  background-color: #f0eedf;
  background: url("../img/page.png");
  position: relative;
  content: '';
  margin: 0 auto;
  width: 930px;
  height: 10px;
  z-index: -1; }

/* line 66, /app/source/stylesheets/site.css.scss */
#page {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  -webkit-box-shadow: RGBA(0, 0, 0, 0.3) 0 5px 5px;
  -moz-box-shadow: RGBA(0, 0, 0, 0.3) 0 5px 5px;
  box-shadow: RGBA(0, 0, 0, 0.3) 0 5px 5px;
  background-color: #f0eedf;
  background: url("../img/page.png");
  overflow: visible;
  padding: 24px 0 14px 0;
  z-index: 100; }
  /* line 74, /app/source/stylesheets/site.css.scss */
  #page:after {
    -webkit-box-shadow: RGBA(0, 0, 0, 0.3) 0 5px 5px;
    -moz-box-shadow: RGBA(0, 0, 0, 0.3) 0 5px 5px;
    box-shadow: RGBA(0, 0, 0, 0.3) 0 5px 5px;
    background-color: #f0eedf;
    background: url("../img/page.png");
    background: blue;
    content: '';
    margin: 0 auto;
    width: 1200px;
    height: 10px;
    z-index: -1; }
  /* line 85, /app/source/stylesheets/site.css.scss */
  #page .wrapper {
    overflow: hidden;
    *zoom: 1; }
  /* line 87, /app/source/stylesheets/site.css.scss */
  #page .lightning {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline;
    float: left;
    margin-right: 20px;
    width: 620px;
    margin-top: 12px;
    padding: 0 36px;
    text-align: center;
    font-size: 32px; }
    /* line 147, /app/vendor/bundle/ruby/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
    * html #page .lightning {
      overflow-x: hidden; }
    /* line 95, /app/source/stylesheets/site.css.scss */
    #page .lightning .text {
      background-color: #f0eedf;
      background: url("../img/page.png");
      padding: 0;
      margin: 0 auto; }
    /* line 97, /app/source/stylesheets/site.css.scss */
    #page .lightning .make {
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      zoom: 1;
      *display: inline;
      background: url("../img/triforce.png") 0 repeat-x;
      height: 32px;
      width: 100%;
      text-align: center;
      font-family: "CartonSlab";
      margin-top: 2px; }
      /* line 101, /app/source/stylesheets/site.css.scss */
      #page .lightning .make .text {
        width: 120px; }
    /* line 104, /app/source/stylesheets/site.css.scss */
    #page .lightning .vertical-rhythm {
      font-family: "LeagueGothicRegular";
      font-size: 110px;
      line-height: 126px;
      margin-top: 2px; }
    /* line 106, /app/source/stylesheets/site.css.scss */
    #page .lightning .your {
      font-family: "CartonSlab";
      font-size: 34px;
      margin-top: -6px;
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      zoom: 1;
      *display: inline;
      background: url("../img/triforce.png") 0 repeat-x;
      height: 32px;
      width: 100%;
      text-align: center; }
      /* line 111, /app/source/stylesheets/site.css.scss */
      #page .lightning .your .text {
        width: 110px; }
    /* line 113, /app/source/stylesheets/site.css.scss */
    #page .lightning .friend {
      font-family: "LeagueGothicRegular";
      font-size: 281px;
      line-height: 242px;
      margin-top: 18px; }
    /* line 115, /app/source/stylesheets/site.css.scss */
    #page .lightning .youve {
      background-color: #f7ae5d;
      font-family: "CartonSlab";
      line-height: 36px;
      height: 32px; }
      /* line 121, /app/source/stylesheets/site.css.scss */
      #page .lightning .youve .text {
        width: 140px;
        position: relative;
        margin-top: 12px; }
        /* line 125, /app/source/stylesheets/site.css.scss */
        #page .lightning .youve .text:before {
          position: absolute;
          content: '';
          left: -16px;
          width: 0;
          height: 0;
          border-top: 16px solid transparent;
          border-bottom: 16px solid transparent;
          border-right: 16px solid #f0eedf; }
        /* line 136, /app/source/stylesheets/site.css.scss */
        #page .lightning .youve .text:after {
          position: absolute;
          content: '';
          right: -16px;
          width: 0;
          height: 0;
          border-top: 16px solid transparent;
          border-bottom: 16px solid transparent;
          border-left: 16px solid #f0eedf; }
    /* line 147, /app/source/stylesheets/site.css.scss */
    #page .lightning .got-this {
      font-family: "LeagueGothicRegular";
      font-size: 202px;
      margin-top: 6px; }
  /* line 151, /app/source/stylesheets/site.css.scss */
  #page .bolt {
    overflow: hidden;
    *zoom: 1;
    display: inline;
    float: left;
    margin-right: 20px;
    width: 300px;
    margin-right: 0; }
    /* line 147, /app/vendor/bundle/ruby/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
    * html #page .bolt {
      overflow-x: hidden; }
    /* line 156, /app/source/stylesheets/site.css.scss */
    #page .bolt .steps {
      text-shadow: 0 1px 0 #f0eedf;
      color: #f7ae5d;
      font-family: "SueEllenFranciscoRegular";
      font-size: 22px;
      margin: 26px 0 0;
      height: 574px; }
      /* line 165, /app/source/stylesheets/site.css.scss */
      #page .bolt .steps li:before {
        color: #000;
        font-family: "CartonSlab";
        font-size: 64px; }
      /* line 166, /app/source/stylesheets/site.css.scss */
      #page .bolt .steps li {
        display: -moz-inline-stack;
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        zoom: 1;
        *display: inline;
        height: 144px; }
      /* line 167, /app/source/stylesheets/site.css.scss */
      #page .bolt .steps li p {
        -webkit-transform: rotate(-3deg);
        -moz-transform: rotate(-3deg);
        -ms-transform: rotate(-3deg);
        -o-transform: rotate(-3deg);
        transform: rotate(-3deg);
        display: -moz-inline-stack;
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        zoom: 1;
        *display: inline;
        margin: -40px 0 0 10px; }
      /* line 169, /app/source/stylesheets/site.css.scss */
      #page .bolt .steps .circled {
        text-indent: -100%;
        background: url("../img/circled.png") 40px 0 no-repeat;
        display: block;
        position: absolute;
        overflow: visible;
        top: 0;
        font-size: 0;
        width: 320px;
        height: 346px; }
      /* line 182, /app/source/stylesheets/site.css.scss */
      #page .bolt .steps .one:before {
        content: '1'; }
      /* line 183, /app/source/stylesheets/site.css.scss */
      #page .bolt .steps .two {
        background: url("../img/bookmark-click.png") no-repeat 60px 70px; }
        /* line 185, /app/source/stylesheets/site.css.scss */
        #page .bolt .steps .two:before {
          content: '2'; }
      /* line 187, /app/source/stylesheets/site.css.scss */
      #page .bolt .steps .three:before {
        content: '3'; }
      /* line 189, /app/source/stylesheets/site.css.scss */
      #page .bolt .steps h4 {
        background-position: 0 40px;
        background-repeat: no-repeat;
        color: #000;
        margin: 6px 0 0 50px;
        width: 224px;
        height: 120px; }
      /* line 196, /app/source/stylesheets/site.css.scss */
      #page .bolt .steps h4.spacing {
        background-image: url("../img/buttons-spacing.png"); }
      /* line 197, /app/source/stylesheets/site.css.scss */
      #page .bolt .steps h4.offset {
        background-image: url("../img/buttons-offset.png"); }

/* line 202, /app/source/stylesheets/site.css.scss */
#gridwax-logo {
  background: url("../img/logo.png") no-repeat;
  width: 280px;
  height: 92px;
  overflow: hidden;
  text-indent: -100%; }

/* line 210, /app/source/stylesheets/site.css.scss */
footer {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  margin: 0 auto; }
  /* line 213, /app/source/stylesheets/site.css.scss */
  footer .credit-itg {
    background: rgba(0, 0, 0, 0.12);
    display: block;
    color: black;
    float: left;
    margin: 14px 0 0;
    padding: 14px; }
  /* line 222, /app/source/stylesheets/site.css.scss */
  footer .github {
    background: rgba(0, 0, 0, 0.12);
    color: #000;
    float: right;
    overflow: visible;
    margin: 14px 0 0;
    padding: 4px 10px 2px; }
    /* line 229, /app/source/stylesheets/site.css.scss */
    footer .github .icon-github {
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      zoom: 1;
      *display: inline;
      width: 38px;
      height: 38px;
      background: url("../img/github.png") no-repeat; }

/* line 238, /app/source/stylesheets/site.css.scss */
.twitter {
  -webkit-box-shadow: RGBA(0, 0, 0, 0.3) 2px 5px 10px;
  -moz-box-shadow: RGBA(0, 0, 0, 0.3) 2px 5px 10px;
  box-shadow: RGBA(0, 0, 0, 0.3) 2px 5px 10px;
  background: #000;
  color: #fff;
  position: absolute;
  font-size: 14px;
  display: block;
  top: 28px;
  left: -20px;
  padding-left: 20px; }
  /* line 248, /app/source/stylesheets/site.css.scss */
  .twitter:after {
    position: absolute;
    display: block;
    content: '';
    top: -15px;
    right: -25px;
    height: 10px;
    width: 10px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid transparent;
    border-bottom: 20px solid #000;
    z-index: 1; }
  /* line 262, /app/source/stylesheets/site.css.scss */
  .twitter:before {
    position: absolute;
    display: block;
    content: '';
    top: 0;
    right: -25px;
    height: 10px;
    width: 10px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #000;
    border-bottom: 20px solid transparent;
    z-index: 1; }
  /* line 276, /app/source/stylesheets/site.css.scss */
  .twitter i.icon-twitter {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    background-image: url("../img/twitter-logo.png");
    background-size: 35px 35px;
    background-position: left top;
    background-repeat: no-repeat;
    height: 35px;
    width: 50px;
    position: relative;
    margin-right: -20px; }
  /* line 287, /app/source/stylesheets/site.css.scss */
  .twitter span {
    position: relative;
    z-index: 10; }
