.intro-09-carousel-item{
    height: 100%;
}
.intro-09-carousel-item .inner-overlay{
    background-color: rgba(0,0,0,0.3);
}
.intro-09-carousel-item .inner-overlay .valign{
    margin-left: 120px;
    width: 70%;
}
.intro-09-carousel-item:first-child .inner-overlay .valign{
    display: block;
}
.intro-caption{
    padding: 60px;
}

.intro h5 > span{
    font-size: 18px;
    line-height: 25px;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 60px;
    padding: 10px 10px 10px 12px;
}
.intro h1{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 60px;
}
.intro h1{
    font-size: 72px;
    line-height: 79px;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 8px;
}
.caps-link{
    margin-right: 60px;
}
.caps-link > span{
    border-top: solid 1px #fff;
    padding-top: 10px;

}
.intro a.explore{
    font-size: 24px;
    line-height: 31px;
    font-style: italic;
    cursor: pointer;
}
.caps-count{
    position: absolute;
    bottom: 90px;
   right: 60px;
}
.caps-count > p{
    font-size: 24px;
    line-height: 31px;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 8px;
}
.caps-count > p > span{
    font-size: 24px;
    line-height: 31px;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 8px;
}

.intro-09-carousel-item{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.owl-theme .owl-controls{
    width: 400px;
    height: 50px;
    position: absolute;
    right: 60px;
    top: 60px;
}
.owl-pagination{
    text-align: right;
}
.owl-theme .owl-controls .owl-page span{
      background-color: #fff !important;
    border-radius: 0px;
    height: 7px;
    margin: 0;
    width: 30px;
}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span{
    background-color: #fff !important;
}