
.intro10-bg{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.intro10-overlay{
	opacity: 0;
	background-color: rgba(0,0,0,0.5);
    -webkit-transition: all 1s ease-in-out;
       -moz-transition: all 1s ease-in-out;
        -ms-transition: all 1s ease-in-out;
         -o-transition: all 1s ease-in-out;
            transition: all 1s ease-in-out;
}
.intro10:hover .intro10-overlay{
	opacity: 1;
    -webkit-transition: all 1s ease-in-out;
       -moz-transition: all 1s ease-in-out;
        -ms-transition: all 1s ease-in-out;
         -o-transition: all 1s ease-in-out;
            transition: all 1s ease-in-out;
}
