.intro-01-carousel-item{
    height: 100%;
}
.intro-01 .inner-overlay{
    background-color: rgba(255,255,255,0.7);
    opacity: 0;
    -webkit-transition: all 1s ease-in-out;
       -moz-transition: all 1s ease-in-out;
        -ms-transition: all 1s ease-in-out;
         -o-transition: all 1s ease-in-out;
            transition: all 1s ease-in-out;
}
.intro-01-carousel-item:hover .inner-overlay{
    opacity: 1;
    -webkit-transition: all 1s ease-in-out;
       -moz-transition: all 1s ease-in-out;
        -ms-transition: all 1s ease-in-out;
         -o-transition: all 1s ease-in-out;
            transition: all 1s ease-in-out;
}
.intro-caption{
    padding: 60px;
}

.intro h5{
    font-size: 14px;
    line-height: 21px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.intro h1{
    margin-top: 10px;
    margin-bottom: 30px;
}
.intro h1>span{
    font-size: 64px;
    line-height: 71px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 8px;
    border-bottom: solid 1px;
    padding-bottom: 10px;
}
.intro a.explore{
    font-size: 20px;
    line-height: 27px;
    font-style: italic;
    cursor: pointer;
}

.intro-01-carousel-item{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.owl-theme .owl-controls{
    width: 300px;
    height: 50px;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    top: 50%;
    margin-top: 120px;
}
.owl-theme .owl-controls .owl-page span{
    opacity: 1 !important; 
    background-color: #c0974c !important;
}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span{
    background-color: #000 !important;
}
.owl-theme .owl-controls .owl-page span{
    width: 16px;
    height: 16px;
}