

/******************************
SLIDES
 *******************************/
.parallax-layer {
	height: 100%;
	width: 100%;
	  background-position: 50% 50%;
	  background-repeat: repeat-y;
	  background-attachment: fixed;
	  background-size: cover;
	overflow-x: hidden !important;
}
/*this class will be activated on mobile devices in order to switch off the parallax effect*/
.parallax-off {
	background-attachment:scroll !important;
	background-size:cover !important;
	background-position: center center !important;
	background-repeat: no-repeat !important;
	}



